@import "@/styles/mixins";

.container {
  margin: 0;

  position: fixed;
  top: 0;

  width: 100%;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  backdrop-filter: blur(2px);

  border: none;
  box-sizing: border-box;
}

.modal {
  width: 100%;

  opacity: 0;

  transition: opacity 500ms ease-in-out;

  &__mounted {
    opacity: 1;
  }
}

@include mobileWidth {
  .container {
    padding: 0 20px;
  }
}

@include desktopWidth {
  .container {
    padding: 0 100px;
  }
}