@import "@/styles/mixins";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.star {
  width: 20px;
  aspect-ratio: 1;

  border: none;
  outline: none;

  background-color: transparent;

  cursor: pointer;
}

@include mobileWidth {
  .container {

  }
};

@include desktopWidth {
  .container {

  }
}