@import "@/styles/mixins";

.app {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__light {
    background-color: $main-light-background;
  }

  &__dark {
    background-color: $main-dark-background;
  }
}

@include mobileWidth {
  .app {
    gap: 20px;
  }
}

@include desktopWidth {
  .app {
    gap: 32px;
  }
}