@import "@/styles/mixins";

.cardContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  &__title {

  }

  &__subtitle {

  }
}

.grid {
  display: grid;
}

@include mobileWidth {
  .cardContainer {
    gap: 16px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}

@include desktopWidth {
  .cardContainer {
    gap: 24px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}