@import "@/styles/mixins";

.authModal {
  width: 100%;
  height: 300px;

  background-color: #fff;
}

@include mobileWidth {
  .authModal {

  }
}

@include desktopWidth {
  .authModal {
    max-width: 400px;
  }
}