@import "@/styles/mixins";

.footer {
  width: 100%;
  max-width: 1440px;

  box-sizing: border-box;
}

@include mobileWidth {
  .footer {
    padding: 0 20px;
  }
}

@include desktopWidth {
  .footer {
    padding: 0 100px;
  }
}