@import "@/styles/mixins";

.footer {
  margin-top: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: #000;

  >div {
    width: 100%;

    box-sizing: border-box;
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__header {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    width: 100%;

    display: flex;
  }
}

.copyright {
  background-color: #1d1d1d;

  color: #8d8d9a;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;

  &:not(:last-child) {
    padding-right: 30px;

    border-right: 1px solid #3e3e3e;
  }

  >h3 {
    margin-block: 0;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -.36px;
    text-transform: uppercase;
  }
}

.links {
  margin-block: 0;

  list-style: none;

  display: flex;
}

.link {
  width: 100%;

  color: #8d8d9a;

  transition: all .2s ease-in-out;

  &__nav {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    background-color: transparent;

    font-size: 14px;
    color: inherit;
    text-decoration: unset;

    cursor: pointer;
  }

  &__active {
    color: #389d9f;
  }
}

@include mobileWidth {
  .footer {

    >div {
      padding: 20px;
    }
  }

  .mainSection {
    gap: 24px;

    &__links {
      flex-direction: column;
      gap: 16px;
    }
  }
}

@include desktopWidth {
  .footer {

    >div {
      padding: 20px 100px;
    }
  }

  .mainSection {
    gap: 60px;

    &__links {
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      gap: 30px;
    }
  }

  .link {
    &:hover {
      color: #389d9f;
    }
  }
}